.container {
}

.header {
  margin: 49px 80px 0;
  display: flex;
  justify-content: space-between;
}

.main {
  margin-top: 66px;
}

.content {
  margin: 86px 80px 0;
  font-size: 80px;
  line-height: 96px;
}

.sum {
  color: #ff5c00;
}

.footer {
  margin: 64px 80px 0;
  padding-bottom: 88px;
  display: flex;
  justify-content: space-between;
}

.registrationButton {
  background: #2d44ce;
  color: #ffffff;
  border: none;
}

.registrationButton:hover {
  background: #243cc9;
}

@media (max-width: 872px) {
  .header {
    margin-left: 40px;
    margin-right: 40px;
  }

  .content {
    font-size: 48px;
    line-height: 62px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .footer {
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 80px;
  }
}

@media (max-width: 588px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }

  .content {
    font-size: 35px;
    line-height: 47px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .footer {
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 48px;
  }
}
