@font-face {
  font-family: 'Sharp-Grotesk';
  src: url('../public/fonts/Sharp-Grotesk-DB-Cyr-Medium-22-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  font-family: 'Sharp-Grotesk' !important;
}

.page {
  min-height: 100vh;
  overflow-x: hidden;
}
