.logoDesctop {
  cursor: pointer;
}

.logoMobile {
  display: none;
  cursor: pointer;
}

@media (max-width: 588px) {
  .logoDesctop {
    display: none;
  }

  .logoMobile {
    display: inline;
  }
}
