.illustrations {
  max-width: 100vw;
  overflow: hidden;
}

.illustrations img {
  position: relative;
  left: -470px;
  /* animation: illustrations 10s linear infinite */
  animation: illustrations 7s ease-out 0s 150 alternate none;
}

@keyframes illustrations {
  0%,
  100% {
    transform: translateX(0);
  }

  1%,
  100% {
    transform: translateX(-450px);
  }

  1%,
  100% {
    transform: translateX(450px);
  }
  1% {
    transform: translateX(1px);
  }
  1% {
    transform: translateX(-1px);
  }
}