.container {
    padding-bottom: 64px;
}

.header {
  margin: 49px 80px 0;
  display: flex;
  justify-content: space-between;
}

.content {
  margin: 86px 80px 0;
  font-size: 48px;
  line-height: 96px;
  font-family: 'Sharp-Grotesk';
}

.description{
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 32px;
}

.categories {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-content:flex-start;
    
}

.buttonContainer {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}

.nextStepButton {
    padding: 16px 24px;
    background: #433870;
    color: #ffffff;
    width: 290px; 
}

.nextStepButton:hover {
    background: #382d64;
}
